
<h1><%= @popup.name %></h1>
<%= @popup.description %></br>
<%= image_tag @popup.image(:medium) %>

<!-- <button type="button" class="btn btn-success"><%#= link_to @popup.upvote %></button> -->
  <%#= link_to "Like", "/popups/vote/upvote/#{@popup.id}", :class => 'btn btn-info' %>
  <%#= link_to "Dislike", "/popups/vote/downvote/#{@popup.id}", :class => 'btn btn-info' %>
<!-- <button type="button" class="btn btn-danger"><%#= link_to @popup.downvote %></button> -->
<br></br>
<h2>Comments</h2></br>
<% @feeds.each do |feed|%>
  <%=feed.comment%>
  By <%= current_user.email %>
  <%= link_to "Delete", [@popup, feed], method: :delete, data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm' %></br>
<% end %></br>  


<%= link_to 'Back to popup', popup_path(@popup) %>



