<%= @popup.name %><br>
<%= @popup.description %><br>
<%= @popup.price %><br>
<%= @popup.address %><br>
<%= @popup.hours %><br>
<%= image_tag @popup.image %>
<p> Expires at:  <%= @popup.expires_at %><br></p>

<h3>Feed</h3>
<% @popup.feeds.each do |feed| %>
  <p><%= feed.comment %></p>
  <%= link_to "Delete", feed_path(feed), method: 'delete' %>
<% end %>

<h5>Leave Comment</h5>

<%= render 'comment_form' %>
