<%= @popup.name %><br>
<%= @popup.description %><br>
<%= @popup.price %><br>
<%= @popup.address %><br>
<%= @popup.hours %><br>
<%= image_tag @popup.image %>
<p> Expires at:  <%= @popup.expires_at %><br></p>
