<%= @popup.name %><br>
<%= @popup.description %><br>
<%= @popup.price %><br>
<%= @popup.address %><br>
<%= @popup.hours %><br>
<%= @popup.image %><br>
<p> Expires at:  <%= @popup.expires_at %><br></p>
