<div class="col-md-7" id="google">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&markers=#{@popup.address}&zoom=16", id: "popupMap" %>
    <button id="zoomOut"> - </button><button id="zoomIn"> + </button>
  </div>
  <script>
        $("#google").on("click", "#zoomIn, #zoomOut", function(event){
          var $img = $("#popupMap");
          var src = $("#popupMap").attr("src");

          var src_arr = src.split("&zoom=")
          var zoom = (Number(src_arr[1]));

          console.log(event.target.id)
          if (event.target.id === "zoomIn"){
            if (zoom < 20){ 
              zoom += 1;
            
            }
          } else {
            if (zoom > 0){ 
              zoom -= 1;
            }
          }
          src = src_arr[0] + "&zoom="+ zoom;
          $img.attr("src",src);
        });
    </script>

<p><%= @popup.name %><br>
<%= @popup.description %><br>
<%= @popup.price %><br>
<%= @popup.address %><br>
<%= @popup.hours %><br>
<img src="<%= @popup.image(:medium) %>"><br>
Expires at:  <%= @popup.expires_at %></p>

<% if current_user && current_user.id == @popup.user_id %>
  <%= form_for @popup, :html => { :multipart => true } do |f| %>
      <div><%= f.file_field :image %> </br> 
        <%= f.submit "Upload image", :class => "btn-default" %>
      </div>
  <% end %>
<% end %> 

<% if current_user %>
  <%= form_for ([@popup, @feed_new]) do |f| %>
    <%= f.text_field :comment, placeholder: "Add your comment" %><br></br>
    <%= f.submit "Create comment" %>
  <% end %>
<% else %>
<%= link_to "Sign in to post a comment", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

<h4>Comments</h4>
<div class="jumbotron" id="jumbo">
<% @feeds.each do |feed|%>
  <%=feed.comment%>
    <%= link_to "Delete", [@popup, feed], method: :delete, data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm' %></br>
<% end %></br> 
 </div>


 <%= link_to 'Back', root_path %>


