<%= @popup.name %><br>
<%= @popup.description %><br>
<%= @popup.price %><br>
<%= @popup.address %><br>
<%= @popup.hours %><br>
<%= image_tag @popup.image(:medium) %>
<p> Expires at:  <%= @popup.expires_at %></p>

<%= form_for ([@popup, @feed_new]) do |f| %>
  <%= f.text_field :comment, placeholder: "Add your comment" %><br></br>
  <%= f.submit "Create comment" %><br></br>
<% end %>



<% @feeds.each do |feed| %>
  <%#= link_to popup.name, popup_feeds_path(popup)%>
    <% count = 0%>
    <%= feed.comment %>
    <% count = 1%>
    Comment Count:<%= link_to "#{count} comments", popup_feeds_path(@popup)%></br>     
  <% end %></br> 
  

<!-- count/comments needs to be fixed -->
 
  <%= form_for @popup, :html => { :multipart => true } do |f| %>
    <div><%= f.file_field :image %> </br> 
      <%= f.submit "Upload image", :class => "btn-default" %>
    </div>
  <% end %> 

 
